

.headerContainer{
    border: 1px solid black;
    display: flex;
    justify-content: space-between;
   
}

.logo{
    height: 100px;
    width: 150px;
}

.navBar{
    flex-grow: 2;
    /* display: flex;
    justify-content: space-around; */
}

.navList{
    display: flex;
    justify-content: space-around;
   list-style-type: none;
}

.navItem{
   text-transform: capitalize;
   padding: 15px 0 0;
   font-size: 1.3rem;
}

.resContainer{
    display: flex;
    flex-wrap: wrap;
}

.resCard{
    background-color: #f0f0f0;
    /* display: flex; */
    width: 200px;
    margin: 10px;
    padding: 0 5px ;
}

.foodImg{
  width: 90%;
  height: 160px;
  margin: 5px;
}

.cuisine{
    word-wrap: break-word;
    /* overflow-wrap: break-word; */
}